body {
  background-color:rgb(207, 70, 93);
}

h1 {
  padding: 45px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(123, 9, 45);
  text-shadow: 2px 2px rgb(223, 143, 169);
  text-align: center;
}

h2, h3 {
  font-weight: bold;
  font-family: "Oswald", "sans-serif";
  font-size: 1.5rem;
  color: rgb(44, 214, 195);
  text-align: center;
}

h3{
  padding-top: 40px;
  font-family: "Playfair Display", serif;
  margin: -300px auto 300px auto; 
}

.picture {
  width: 500px;
  height: 500px;
  display: block;
  margin: -300px auto 300px auto; 
}

.principles {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: -300px auto 300px auto;

}

p {
  font-family: "Special Elite", serif;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.6);
  width: 70%;
  line-height: 1.5;
  font-size: 1rem;
  margin: 30px;
  padding: 25px;
}

nav {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.bar {
  display: inline-block;
}

.bar a {
  text-decoration: none;
  color:black;
  text-shadow: 2px 2px 2px palevioletred;
  font-family: "Vast Shadow", serif;
  display: flex;
  padding: 8px;
}

.bar a:hover {
  background-color: black;
  color:red;
}